{% load i18n %}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{%trans "Basta app"%}</title>
    <style>
        body {
            font-family: Helvetica;
            font-weight: 400;
            background-color: #F1E3D2;
            color: #6B768A;
        }
        a {
            color: #FB4C2D;
        }
    </style>
</head>

<body>

    <h5>
        {%trans "Someone asked for password reset for email"%} {{ email }}.
    </h5>

    <p>
        {%trans "Follow the link below:"%}
        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>
</body>

</html>