{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Round:" %} {{ play.round.letter|upper }}
{% endblock %}

{% block navlist %}
<a class="nav-link" href="{{ play.round.session.get_absolute_url }}">
    <i class="fas fa-chevron-right"></i> {%trans "Session"%}
</a>
<a class="nav-link" href="{{ play.round.get_absolute_url }}">
    <i class="fas fa-chevron-right"></i> {%trans "Round"%}
</a>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="jumbotron text-center m-3">
        {% trans "Letter: "%} {{ play.round.letter|upper }}
    </h1>

    <form method="post">
        {{ formset.management_form }}
        {% if error %}
        <div class="alert-danger" role="alert">
            {{ error }}
        </div>
        <br><br>
        {% endif %}

        {% csrf_token %}
        {% for form in formset %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group row p-0">
            <label class="col-sm-4 col-lg-2 col-form-label">
                {% trans form.instance.label %}
            </label>
            <div class="col-sm-8 col-lg-10">
                
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted help">
                    {% trans field.help_text|safe %}
                </small>
                <span class="text-danger">
                    {% trans field.errors.as_text|cut:'* ' %}
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}


        <div class="row justify-content-start">
            <input type="submit" name="Stop" value="{% trans "Stop" %}" class="btn btn-primary">
        </div>

    </form>

</div>

<script>
    $("form :input").change(ajax_submit);

    window.setInterval(ajax_submit, 1000)

    function ajax_submit() {
        var form = $("form");
        var dataString = form.serialize();
        $.ajax({
            type: "POST",
            url: window.location.href,
            data: dataString,
            dataType: "json",
            success: function (resp) {
                console.log("AJAX call succeeded with the following data:");
                console.log(dataString);
                if (resp.stop) {
                    form.submit();
                    window.clearinterval
                };
            },
            error: function () {
                console.log("Something went wrong");
            }
        });
    }
</script>
{% endblock %}