{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Round #" %} {{ round.number }}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h3> {% trans "Round #" %} {{ round.number }} </h3>

  {% if round.active %}
  <a role="button" class="btn btn-primary my-3" href="{% url 'basta:playcreate' round.session.slug round.number %}">
    {% trans "Start your play" %}
  </a>
  {% else %}
  <a role="button" class="btn btn-primary my-3" href="{% url 'basta:session' round.session.slug %}">
    {% trans "Return to session" %}
  </a>
  {% endif %}
</div>

{% if not round.active %}
<form method="POST" action="{%url "basta:playscore" slug=round.session.slug number=round.number %}">
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "User" %}</th>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col">{% trans "Surname" %}</th>
        <th scope="col">{% trans "Flower / Fruit / Vegetable" %}</th>
        <th scope="col">{% trans "Animal" %}</th>
        <th scope="col">{% trans "City / Country" %}</th>
        <th scope="col">{% trans "Movie / Series" %}</th>
        <th scope="col">{% trans "Object" %}</th>
        <th scope="col">{% trans "Brand" %}</th>
        <th scope="col">{% trans "Total" %}</th>

      </tr>
    </thead>
    <tbody>
      {% for play in round.play_set.all %}
      <tr>
        <th scope="row">{{ play.user }}</th>
        <td scope="row">{{ play.name }}</td>
        <td scope="row">{{ play.surname }}</td>
        <td scope="row">{{ play.plant }}</td>
        <td scope="row">{{ play.animal }}</td>
        <td scope="row">{{ play.place }}</td>
        <td scope="row">{{ play.film }}</td>
        <td scope="row">{{ play.obj }}</td>
        <td scope="row">{{ play.brand }}</td>
        <td scope="row">{% if play.score %}{{ play.score }}{% endif %}</td>
      </tr>
      {% empty %}
      <p>
        {% trans "No plays available yet" %}
      </p>
      {% endfor %}
      {% if not my_play.score > 0 or not user.is_authenticated %}
      <tr>
        <th scope="row">{%trans "My score"%}</th>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input type="number" class="s form-control" value="0"></td>
        <td scope="row"><input name="score" type="number" class="t form-control" readonly value="0"></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if not my_play.score > 0 or not user.is_authenticated %}

  <div class="row justify-content-start">
    <button type="submit" name="Submit" class="btn btn-primary m-3">{% trans "Submit score" %}</button>
  </div>
  {% endif %}
</form>
{% endif %}


<script>
  var $inputs = $(".s");
  $inputs.change(function () {
    console.log("A value was changed")
    var sum = 0;
    $inputs.each(function () {
      sum += Number($(this).val());
    });
    $(".t").val(sum);
  });
</script>
{% endblock %}