{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Round #" %} {{ round.number }}
{% endblock %}

{% block navlist %}
<a class="nav-link" href="{{ round.session.get_absolute_url }}">
  <i class="fas fa-chevron-right"></i> {%trans "Session"%}
</a>
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h3> {% trans "Round #" %} {{ round.number }} </h3>

  {% if round.active %}
  <a role="button" class="btn btn-secondary my-3" href="{% url 'basta:playcreate' round.session.slug round.number %}">
    {% trans "Start your play" %}
  </a>
  {% else %}
  <a role="button" class="btn btn-primary my-3" href="{{ round.session.get_absolute_url }}">
    {% trans "Return to session" %}
  </a>
  {% endif %}
</div>

{% if not round.active %}
<form method="POST" action="{%url "basta:playscore" slug=round.session.slug number=round.number %}">
  {% csrf_token %}
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">{% trans "User" %}</th>
          {% for category in round.play_set.first.categories.all %}
          <th scope="col">{{ category.label}}</th>
          {% endfor %}
          <th scope="col">{%trans "Total"%}
        </tr>
      </thead>
      <tbody>
        {% for play in round.play_set.all %}
        <tr {% if user == play.user %} class="table-active" {% endif %}>
          <th scope="row">{{ play.user }}</th>
          {% for category in play.categories.all %}
          <td scope="row">{{ category.value }}</td>
          {% endfor %}
          <td scope="row">{% if play.score %}{{ play.score }}{% endif %}</td>
        </tr>
        {% empty %}
        <p>
          {% trans "No plays available yet" %}
        </p>
        {% endfor %}
        {% if my_play.score == 0 %}
        <tr>
          <th scope="row">{%trans "My score"%}</th>
          {% for category in round.play_set.first.categories.all %}
          <td scope="row"><input type="number" class="s form-control" value="0"></td>
          {% endfor %}
          <td scope="row"><input name="score" type="number" class="t form-control" readonly value="0"></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% if my_play.score == 0 %}

  <div class="row justify-content-start">
    <button type="submit" name="Submit" class="btn btn-primary m-3">{% trans "Submit score" %}</button>
  </div>
  {% endif %}
</form>
{% endif %}


<script>
  var $inputs = $(".s");
  $inputs.change(function () {
    console.log("A value was changed")
    var sum = 0;
    $inputs.each(function () {
      sum += Number($(this).val());
    });
    $(".t").val(sum);
  });
</script>
{% endblock %}