{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Session" %} {{ session.name }}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h3> {{session.name}}</h3>

  {% if session.active %}
  {% if not active_round %}
  <a id="start-button" role="button" class="btn btn-success my-3" href="{% url 'basta:roundcreate' session.slug %}">
    {% trans "Start new round" %}
  </a>
  {% endif %}
  <a role="button" class="btn btn-danger my-3 text-white" data-toggle="modal" data-target="#closesession-modal">
    {% trans "Close this session" %}
  </a>
  <!-- Modal -->
  <div class="modal fade" id="closesession-modal" tabindex="-1" role="dialog" aria-labelledby="modallabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modallabel">{%trans "Close this session"%}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {%trans "Are you sure you want to close this session? Participants will not be able to continue playing on this session."%}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{%trans "Cancel"%}</button>
          <a class="btn btn-danger" href="{% url 'basta:sessionclose' session.slug %}">
            {%trans "Close session"%}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<h5> {% trans "Active round:"%} </h5>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% trans "Participants" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for round in session.round_set.all %}
      {% if round.active %}
      <tr>
        <th scope="row">{{ round.number }}</th>
        <td>
          <ul>
            {% for participant in round.participants %}
            <li> {{ participant }} </li>
            {% empty %}
            {%trans "No participants"%}
            {% endfor %}
          </ul>
        </td>
        <td>
          <a id="join-button" role="button" class="btn btn-primary" href="{{ round.get_absolute_url }}">
            {% trans "Join" %}
          </a>
        </td>
      </tr>
      {% endif %}
      {% empty %}
      <p>
        {% trans "No rounds available" %}
      </p>
      {% endfor %}
    </tbody>
  </table>
</div>

<h5> {% trans "Closed rounds:"%} </h5>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{% trans "Letter" %}</th>
        <th scope="col">{% trans "Winner" %}</th>
        <th scope="col">{% trans "Score" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for round in session.round_set.all %}
      {% if not round.active %}
      <tr>
        <th scope="row">{{ round.letter }}</td>
        {% for winner, score in round.get_winner_score.items %}
        <td><i class="fas fa-crown"></i> {{ winner }}</td>
        <td>{{ score }}</td>
        {% empty %}
        <td>{%trans "No participants"%}</td>
        <td>{%trans "No participants"%}</td>
        {% endfor %}
        <td>
          <a role="button" class="btn btn-primary" href="{{ round.get_absolute_url }}">
            {% trans "View" %}
          </a>
        </td>

      </tr>
      {% endif %}
      {% empty %}
      <p>
        {% trans "No sessions available" %}
      </p>
      {% endfor %}
    </tbody>
  </table>
</div>
<h5> {% trans "Scoreboard:"%} </h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Participant" %}</th>
      <th scope="col">{% trans "Total score" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for get_scores in session.get_scores|dictsortreversed:"score" %}
    {% if not round.active %}
    <tr>
      <th scope="row">{{ get_scores.participant }}</th>
      <td>{{ get_scores.score }}</td>
    </tr>
    {% endif %}
    {% empty %}
    <p>
      {% trans "No sessions available" %}
    </p>
    {% endfor %}
  </tbody>
</table>
<script>
  window.setInterval(ajax_poll_refresh, 2000)

  function ajax_poll_refresh() {
    if ($("#join-button").length) {
      window.clearInterval;
    } else {
      $.ajax({
        type: "GET",
        url: window.location.href + 'poll-refresh/',
        success: function (resp) {
          console.log("AJAX call succeeded");
          location.reload();
        },
        error: function () {}
      })
    }
  }
</script>
{% endblock %}