{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3> {% trans "Welcome to Basta online" %} </h3>

<div class="jumbotron">
  <h5> {%trans "Create new game session:"%} </h5>
  <form method="POST" action="{% url 'basta:sessioncreate' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="session_name">{%trans "Session name"%}</label>
      <input type="text" class="form-control" name="session_name" aria-describedby="nameHelp" populate="">
      <small id="nameHelp" class="form-text text-muted">
        {%trans "Insert a name for the new session, cannot be duplicate"%}
      </small>
    </div>
    <button type="submit" class="btn btn-primary">{%trans "Start"%}</button>
  </form>
</div>

<h5> {% trans "Active sessions:"%} </h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">{% trans "Participants" %}</th>
      <th scope="col">{% trans "Date" %}</th>
      <th scope="col">{% trans "N. rounds" %}</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    {% for session in sessions %}
    {% if session.active %}
    <tr>
      <th scope="row">{{ session.pk }}</th>
      <td>{{ session.name }}</td>
      <td>
        <ul>
          {% for participant in session.participants %}
          <li> {{participant}} </li>
          {% empty %}
          {%trans "No participants yet"%}
          {% endfor %}
        </ul>
      </td>
      <td>{{ session.created_at.date }}</td>
      <td>{{ session.n_rounds }}</td>
      <td>
        <a role="button" class="btn btn-primary" href="{% url 'basta:session' session.slug %}">
          {% trans "Join" %}
        </a>
      </td>
    </tr>
    {% endif %}
    {% empty %}
    <p>
      {% trans "No sessions available" %}
    </p>
    {% endfor %}
  </tbody>
</table>
<h5> {%trans "Closed sessions:"%} </h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">{% trans "Winner" %}</th>
      <th scope="col">{% trans "Points" %}</th>
      <th scope="col">{% trans "Date" %}</th>
      <th scope="col">{% trans "N. rounds" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for session in page_obj %}
    {% if not session.active %}
    {% if user in session.participants or not user.is_authenticated %}
    <tr>
      <th scope="row">{{ session.pk }}</th>
      <td>{{ session.name }}</td>

      {% for winner, score in session.get_winner_score.items %}
      <td class="text-center"><i class="fas fa-crown"></i><br>{{winner}}</td>
      <td>{{score}}</td>
      {% empty %}
      <td>{%trans "No participants"%}</td>
      <td>{%trans "No participants"%}</td>
      {% endfor %}

      <td>{{ session.modified_at.date }}</td>
      <td>{{ session.n_rounds }}</td>
      <td>
        <a role="button" class="btn btn-primary" href="{% url 'basta:session' session.slug %}">
          {% trans "View" %}
        </a>
      </td>
    </tr>
    {% endif %}
    {% endif %}
    {% empty %}
    <p>
      {% trans "No sessions available" %}
    </p>
    {% endfor %}
  </tbody>
</table>
<div class="row d-flex justify-content-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; {%trans "first"%}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{%trans "previous"%}</a>
    </li>
    {% endif %}

    <li class="page-item"><a class="page-link">{%trans "page"%} {{ page_obj.number }} {%trans "of"%} {{ page_obj.paginator.num_pages }}</a></li>

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{%trans "next"%}</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{%trans "last"%}
        &raquo;</a></li>
    {% endif %}
  </ul>
</div>


{% endblock %}