
body {
    font-family: Helvetica;
    font-weight: 400;
    background-color: #F1E3D2;
    color: #6B768A;
}

a {
    color: #FB4C2D;
}

.jumbotron {
    background-color: #6B768A;
    border-radius: 0.9rem;
    color: #F1E3D2;
}
.jumbotron .modal {
    color: black;
}

/* Buttons */
.btn {
    border-color: white;
    border-radius: 0.7rem;
}
.btn:hover {
    border-color: white;
}
.btn:active {
    border-color: white !important;
    background-color: black !important;
}
.btn:focus {
    border-color: white !important;
    background-color: #6B768A !important;
}

.btn-danger {
    background-color: #FB4C2D;
}

.btn-secondary {
    background-color: #B98A58;
    color: white;
}
.btn-secondary:hover {
    background-color: #9F2C11;
    border-color: white;
}

.table thead th {
    border-color: #B98A58;
}

.table td, th {
    border-bottom: 1px solid #B98A58;
}

.btn-primary {
    background-color: #ACABA9;
    color: white;
} 
.btn-primary:hover {
    background-color: gray;
}

.text-muted {
    color: white !important;
}
.page-link {
    color: #B98A58;
    border-color: #B98A58;
}
.page-link:hover {
    color: #B98A58;
}
.sticky-top {
    position: sticky;
    top: 0;
  }

