
body {
    font-family: Helvetica;
    font-weight: 400;
    background-color: #F1E3D2;
}

a {
    color: #FB4C2D;
}

.jumbotron {
    background-color: #6B768A;
    border-radius: 0.9rem;
    color: #F1E3D2;
}

/* Buttons */
.btn {
    border-color: white;
    border-radius: 0.7rem;
}
.btn:hover {
    border-color: white;
}
.btn:active {
    border-color: white !important;
}
.btn:target {
    border-color: white !important;
}

.btn-danger {
    background-color: #FB4C2D;
}

.btn-secondary {
    background-color: #F1E3D2;
    color: black;
}
.btn-secondary:hover {
    background-color: #B98A58;
    border-color: white;
}
.btn-secondary:active {
    background-color: black !important;
}

.btn-primary {
    background-color: silver;
    color: white;
} 
.btn-primary:hover {
    background-color: #ACABA9;
}
.btn-primary:active {
    background-color: black !important;
}

.text-muted {
    color: white !important;
}
.page-link {
    color: #B98A58;
}
.page-link:hover {
    color: #B98A58;
}
.sticky-top {
    position: sticky;
    top: 0;
  }

